<a href="https://colab.research.google.com/github/tomassorrentino1/ecd2024b/blob/main/Eda%20tp%20final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# URL del archivo RAW en GitHub
url = "https://raw.githubusercontent.com/tomassorrentino1/ecd2024b/refs/heads/main/data/listings.csv"

# Cargar el dataset en un DataFrame
df = pd.read_csv(url)

# Mostrar las primeras filas del DataFrame
print(df.head())

      id                                          name   host_id  \
0  11508            Amazing Luxurious Apt-Palermo Soho     42762
1  14222  RELAX IN HAPPY HOUSE - PALERMO, BUENOS AIRES  87710233
2  15074                         ROOM WITH RIVER SIGHT     59338
3  96490  AMPLIA habitación individual en Buenos Aires    512049
4  16695                     DUPLEX LOFT 2 - SAN TELMO     64880

       host_name  neighbourhood_group neighbourhood  latitude  longitude  \
0        Candela                  NaN       Palermo -34.58184  -58.42415
1          María                  NaN       Palermo -34.58617  -58.41036
2         Monica                  NaN         Nuñez -34.53892  -58.46599
3       Cristina                  NaN       Palermo -34.58503  -58.41206
4  Elbio Mariano                  NaN     Monserrat -34.61439  -58.37611

         room_type    price  minimum_nights  number_of_reviews last_review  \
0  Entire home/apt  60390.0               3                 42  2024-07-28
1  Entire home/apt  37001.0               7                120  2024-07-07
2     Private room      NaN              29                  0         NaN
3     Private room   8000.0               7                  1  2023-01-15
4  Entire home/apt  47275.0               2                 45  2019-11-30

   reviews_per_month  calculated_host_listings_count  availability_365  \
0               0.28                               1               276
1               0.81                               7                37
2                NaN                               1                 0
3               0.05                               2               352
4               0.27                               9               238

   number_of_reviews_ltm license
0                      6     NaN
1                     10     NaN
2                      0     NaN
3                      0     NaN
4                      0     NaN

In [8]:
# prompt: ver las caracteristicas del dataset

# Mostrar información general del DataFrame
print(df.info())

# Mostrar estadísticas descriptivas del DataFrame
print(df.describe())

# Mostrar los tipos de datos de cada columna
print(df.dtypes)

# Mostrar el número de filas y columnas
print(df.shape)

# Mostrar los nombres de las columnas
print(df.columns)

# Mostrar valores únicos de una columna específica (ejemplo: 'neighbourhood_group')
print(df['neighbourhood_group'].unique())

# Mostrar la cantidad de valores únicos por columna
print(df.nunique())

# Mostrar valores faltantes por columna
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36807 entries, 0 to 36806
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36807 non-null  int64
 1   name                            36807 non-null  object
 2   host_id                         36807 non-null  int64
 3   host_name                       36807 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   36807 non-null  object
 6   latitude                        36807 non-null  float64
 7   longitude                       36807 non-null  float64
 8   room_type                       36807 non-null  object
 9   price                           33851 non-null  float64
 10  minimum_nights                  36807 non-null  int64
 11  number_of_reviews               36807 non-null  int64
 12  last_review                     29828 non-null  object
 13  reviews_per_month               29828 non-null  float64
 14  calculated_host_listings_count  36807 non-null  int64
 15  availability_365                36807 non-null  int64
 16  number_of_reviews_ltm           36807 non-null  int64
 17  license                         427 non-null    object
dtypes: float64(5), int64(7), object(6)
memory usage: 5.1+ MB
None
                 id       host_id  neighbourhood_group      latitude  \
count  3.680700e+04  3.680700e+04                  0.0  36807.000000
mean   6.700277e+17  2.098539e+08                  NaN    -34.591507
std    4.593719e+17  1.966622e+08                  NaN      0.018412
min    1.150800e+04  1.342600e+04                  NaN    -34.693700
25%    4.602191e+07  3.042332e+07                  NaN    -34.602724
50%    8.543629e+17  1.417189e+08                  NaN    -34.590833
75%    1.048293e+18  4.163870e+08                  NaN    -34.580879
max    1.230628e+18  5.980662e+08                  NaN    -34.534980

          longitude         price  minimum_nights  number_of_reviews  \
count  36807.000000  3.385100e+04    36807.000000       36807.000000
mean     -58.417618  6.967161e+04        5.749749          24.438205
std        0.030210  9.562766e+05       24.460667          41.461713
min      -58.530890  2.600000e+02        1.000000           0.000000
25%      -58.437640  2.363800e+04        1.000000           1.000000
50%      -58.419044  3.214700e+04        2.000000           9.000000
75%      -58.392568  4.727500e+04        3.000000          30.000000
max      -58.355403  9.455019e+07     1000.000000         877.000000

       reviews_per_month  calculated_host_listings_count  availability_365  \
count       29828.000000                    36807.000000      36807.000000
mean            1.329641                       17.472247        211.789823
std             1.321851                       37.756959        119.146371
min             0.010000                        1.000000          0.000000
25%             0.370000                        1.000000        101.000000
50%             0.940000                        2.000000        237.000000
75%             1.922500                       13.000000        329.000000
max            36.170000                      235.000000        365.000000

       number_of_reviews_ltm
count           36807.000000
mean                9.598201
std                13.993057
min                 0.000000
25%                 0.000000
50%                 4.000000
75%                14.000000
max               552.000000
id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                             float64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object
(36807, 18)
Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')
[nan]
id                                36807
name                              34239
host_id                           18545
host_name                          4399
neighbourhood_group                   0
neighbourhood                        48
latitude                          23095
longitude                         24888
room_type                             4
price                              4298
minimum_nights                       77
number_of_reviews                   362
last_review                        1696
reviews_per_month                   758
calculated_host_listings_count       76
availability_365                    366
number_of_reviews_ltm               126
license                             402
dtype: int64
valores faltantes por columna
id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group               36807
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                              2956
minimum_nights                        0
number_of_reviews                     0
last_review                        6979
reviews_per_month                  6979
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           36380
dtype: int64

In [9]:
# Mostrar valores faltantes por columna
# Al ver valores nulos en reviews_per_month, observamos los de reviews para ver si podiamos utilizar esos pero nos dimos cuenta que para los NaN de month, habian 0s en reviews. Asi que es lo mismo.
print(df.isnull().sum())

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group               36807
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                              2956
minimum_nights                        0
number_of_reviews                     0
last_review                        6979
reviews_per_month                  6979
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           36380
dtype: int64

In [10]:

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,11508,Amazing Luxurious Apt-Palermo Soho,42762,Candela,NaN,Palermo,-34.58184,-58.42415,Entire home/apt,60390.0,3,42,2024-07-28,0.28,1,276,6,NaN
1,14222,"RELAX IN HAPPY HOUSE - PALERMO, BUENOS AIRES",87710233,María,NaN,Palermo,-34.58617,-58.41036,Entire home/apt,37001.0,7,120,2024-07-07,0.81,7,37,10,NaN
2,15074,ROOM WITH RIVER SIGHT,59338,Monica,NaN,Nuñez,-34.53892,-58.46599,Private room,NaN,29,0,NaN,NaN,1,0,0,NaN
3,96490,AMPLIA habitación individual en Buenos Aires,512049,Cristina,NaN,Palermo,-34.58503,-58.41206,Private room,8000.0,7,1,2023-01-15,0.05,2,352,0,NaN
4,16695,DUPLEX LOFT 2 - SAN TELMO,64880,Elbio Mariano,NaN,Monserrat,-34.61439,-58.37611,Entire home/apt,47275.0,2,45,2019-11-30,0.27,9,238,0,NaN

In [4]:
df_por_barrio = df.groupby('neighbourhood').size().sort_values(ascending=False)
df_por_barrio

neighbourhood
Palermo              11852
Recoleta              5365
San Nicolas           2344
Belgrano              1961
Monserrat             1753
Retiro                1691
Almagro               1377
Balvanera             1323
Villa Crespo          1261
San Telmo             1021
Colegiales             851
Caballito              791
Nuñez                  766
Chacarita              643
Constitucion           491
Villa Urquiza          442
Puerto Madero          401
Barracas               286
Saavedra               266
San Cristobal          239
Flores                 171
Boedo                  133
Coghlan                132
Villa Ortuzar          132
Boca                   130
Villa Del Parque       125
Villa Devoto           117
Parque Patricios        97
Parque Chacabuco        80
Parque Chas             70
Villa Pueyrredon        69
Paternal                54
Floresta                48
Villa Gral. Mitre       42
Agronomia               40
Villa Santa Rita        39
Mataderos               38
Villa Luro              36
Liniers                 28
Velez Sarsfield         23
Parque Avellaneda       21
Nueva Pompeya           16
Monte Castro            14
Versalles                9
Villa Lugano             7
Villa Real               7
Villa Riachuelo          4
Villa Soldati            1
dtype: int64

In [5]:
df_host_id = df.groupby('host_id').size().sort_values(ascending=False)
df_host_id

host_id
11256892     235
1021694      206
55553719     179
3469227      179
278440549    150
            ...
105700623      1
105721408      1
105856469      1
105865354      1
598066196      1
Length: 18545, dtype: int64

In [6]:
# Crear una nueva columna con los rangos automáticos
df_price_range = pd.qcut(df['price'], q=4, labels=['Bajo', 'Medio-Bajo', 'Medio-Alto', 'Alto'])

# Mostrar el DataFrame con los rangos
df_price_range.value_counts()

price
Medio-Alto    9104
Bajo          8862
Medio-Bajo    8104
Alto          7781
Name: count, dtype: int64

In [7]:
# Aplicar pd.qcut para obtener los intervalos
intervalos = pd.qcut(df['price'], q=4)

# Mostrar las categorías (rangos) de los intervalos
rangos = intervalos.cat.categories
print(rangos)

IntervalIndex([   (259.999, 23638.0],    (23638.0, 32147.0],
                  (32147.0, 47275.0], (47275.0, 94550192.0]],
              dtype='interval[float64, right]')

In [12]:
import pandas as pd

# Asegúrate de que tu DataFrame se llama 'df'
df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')  # Convertir a datetime
df['year_month'] = df['last_review'].dt.to_period('M')  # Crear columna año-mes

# Filtrar las reviews del año 2023
df_2023 = df[df['last_review'].dt.year == 2023]

# Contar cuántas reviews hubo por mes en 2023
reviews_2023_por_mes = df_2023['year_month'].value_counts().sort_index()

# Mostrar resultados
print(reviews_2023_por_mes)

year_month
2023-01     147
2023-02     104
2023-03     171
2023-04     227
2023-05     116
2023-06     110
2023-07     345
2023-08     171
2023-09     167
2023-10     226
2023-11    1156
2023-12     622
Freq: M, Name: count, dtype: int64